
.faq-heading {
  font-family: Arial, sans-serif;
  font-size: 3rem; /* Adjust size based on design */
  font-weight: bold;
  color: #000; /* Black text color */
 font-weight: 800;
  position: relative;
  z-index: 2;
}

.faq-container::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 5%;
  width: 110%;
  height: 60%;
  background-color: #faff00; /* Neon yellow */
  z-index: 1;
  transform: rotate(-10deg);
  border-radius: 10px;
}

.maindivv{
  /* height: 450px; */
  width: 75%;
  /* border: 2px solid black; */
  margin-left: 12%;
}
.instruction-div {
  max-width: 600px; /* Optional: To limit the width of the content */
  margin: 20px auto; /* Center the div horizontally */
  padding: 20px;
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.instruction-div ul {
  padding-left: 20px; /* Indent bullets */
}

.instruction-div ul li {
  margin-bottom: 10px; /* Add space between list items */
  font-size: 17px;
}

.instruction-div h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}